/*
* @Author: 贾思凡
* @Date:   2018-02-28 22:54:48
* @Last Modified by:   贾思凡
* @Last Modified time: 2018-03-01 00:04:16
*/
@font-face {
  font-family: 'iconfont';  /* project id 561407 */
  src: url('https://at.alicdn.com/t/font_561407_5svgczlythk9be29.eot');
  src: url('https://at.alicdn.com/t/font_561407_5svgczlythk9be29.eot?#iefix') format('embedded-opentype'),
  url('https://at.alicdn.com/t/font_561407_5svgczlythk9be29.woff') format('woff'),
  url('https://at.alicdn.com/t/font_561407_5svgczlythk9be29.ttf') format('truetype'),
  url('https://at.alicdn.com/t/font_561407_5svgczlythk9be29.svg#iconfont') format('svg');
}
#head{
	width: 100%;
	height: 1.35rem;
	position: relative;
	float: left;
	z-index: 999;
	/* background-image: url('../img/18_syz_pc.jpg'); */
}
.head_title{
	width: 100%;
	height: 1.35rem;
	background-color:#F3F3F6;
	position: absolute;
	top: 0;
}
.head_title div{
	margin-left:0.5rem;
	margin-top: 0.24rem;
	width:9.82rem;
	height: 0.84rem;
	float: left;
	border-radius: 0.15rem;
	position: relative;
	border: 0.01rem solid  #e0e0e0;
	background-color: #fff;


}
.head_title p{
	margin-left: 0.2rem;
	font-size: 0.4rem;
	margin-top: 0.2rem;
	float: left;
	color: #858585;
}
.head_title span{
	font-family: 'iconfont';
	margin-left: 0.2rem;
	font-size: 0.4rem;
	margin-top: 0.3rem;
	float: left;
	
}
#main{
	width: 100%;
	position: absolute;
	bottom: 1.3rem;
	top: 1.34rem;
	left: 0;
	right: 0;
	/* background-color: #e0e0e0; */
}
.sort{
	width: 2.42rem;
	display: flex;
	overflow-y: scroll;
	flex-wrap: wrap;
	background-color: #F3F3F6;
	position: absolute;
	bottom: 0;
	top: 0;
	left: 0;

}
.sort::-webkit-scrollbar{/* 伪类选择器 */
	display: none;/* 消失 */
	/* display: block; *//* 显示 */
}
.sort span{
	width: 2.42rem;
	font-size: 0.4rem;
	height: 1.69rem;
	border: 0.01rem solid #DADADA;
	line-height: 1.69rem;
	text-align: center;
}
.sort .fenlei {
	background-color: #fff;
	border: 0;
}
.right{
	width: 8.38rem;
	background-color: #fff;
	position: absolute;
	left: 2.42rem;
	top: 0;
}
.right .img{
	width: 7.69em;
	height: 2.5rem;
	margin: 0.32rem;
}
.right_bottom {
	margin-top: 0.78rem;
}
.right_bottom  .title{
	font-size: 0.5rem;
	color: #AFAFAF;
}
.right_bottom .item{
	width: 2.56rem;
	height: 2.23rem;
	/* background-color: red; */
	float: left;
	margin-right: 0.2rem;
	margin-top: 0.2rem;
}
.item img{
	width: 1.37rem;
	height: 1.63rem;
	margin: 0 auto;
	display: block;
}
.item div{
	font-size: 0.35rem;
	text-align: center;
	margin-top: 0.18rem;

	
	
}








.footer{
	height: 1.3rem;
	width: 100%;
	 position: absolute;
	 bottom: 0; 
	background-color:#F8F8F8;
/* 	float: left; */
}
.footer span{
	font-family: "iconfont";
	font-size: 0.70rem;
	margin-left: 1.8rem;
	color: #333;
	float: left;
	display: block;
}
.footer .icon{
	margin-left: 1.5rem;
	
}
.footer .icon1{
	margin-left: 1.60rem;
	color: #333;
}
.footer .icon2{
	color: #fe6700;
}
.footer p{
	display: block;
	font-size: 0.3rem;
	margin-left: 1.8rem;
	color: #808080;
	float: left;
	margin-top: 0.1rem;
}
.footer .footer_item{
	margin-left: 1.6rem;
}
.footer .footer_item1{
	margin-left: 1.4rem;
	
}
